@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .buttons{
    @apply w-[100px] p-2 rounded-lg text-white font-bold bg-gradient-to-tr from-[#3b2c19] to-[#6e4f27] hover:scale-125 duration-300 text-center border-[1px] border-white hover:text-white
  }
  .nav-buttons{
    @apply w-full p-2 rounded-lg text-white font-bold bg-gradient-to-tr from-[#3b2c19] to-[#6e4f27] hover:scale-110 duration-300 text-center border-[1px] border-slate-300 hover:text-white no-underline m-1
  }
  .red-buttons{
    @apply w-[100px] p-2 rounded-lg text-white font-bold bg-gradient-to-tr from-[#990202] to-[#ad5858] hover:scale-125 duration-300 text-center border-[1px] border-white hover:text-white
  }
  .form{
    @apply flex flex-col justify-center w-[350px] lg:w-1/2 bg-gradient-to-tr from-[#3b2c19] to-[#6e4f27] p-4 text-white rounded-lg shadow-xl
  }
  .input{
    @apply p-1 rounded-lg mt-2 text-black
  }
  .basic-container{
    @apply flex flex-col bg-gradient-to-tr from-[#3b2c19] to-[#6e4f27] p-4 text-white rounded-lg shadow-xl
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
